@font-face {
  font-family: 'distantGalaxy';
  src: url('Fonts/SF_Distant_Galaxy/Distant_Galaxy.woff') format('woff');
  font-display: swap;
}

@font-face {
    font-family: 'pixel';
    src: url('Fonts/Pixel/BoldPixels.ttf');
    font-display: swap;
}

@keyframes bounce {
    0%{bottom: 0px;}
    25%{bottom: 10px;}
    75%{bottom: -5px;}
    100%{bottom : 0px;}
}

@keyframes LoadFade{
    0%{background-color: #87ceeb;}
    20%{background-color: black;}
    80%{background-color: black;}
    100%{background-color: #87ceeb;}
}

@keyframes HoldFade{
    0% {opacity: 0;}
    25%{opacity: 1;}
    75%{opacity: 1;}
    100%{opacity: 0;}
}

@keyframes lvl1Path {
    0% {top: -10%; left: 29%;}
    32% {top: 38%; left: 29%;}
    56% {top: 38%; left: 67%;}
    72% {top: 63%; left: 67%;}
    80% {top: 63%; left: 54%;}
    100% {top: 110%; left: 54%;}
}

#home{
    background-color: #001e3d;
}

#gameTitle{
    font-family: 'distantGalaxy';
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(81, 190, 81), rgb(35, 126, 59) 52% /*#ffa500, #db8700*/);
    color: transparent;
    background-clip: text;
    -webkit-text-stroke: 0.7px white;
    font-size: 50;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    margin-top: 30px;
    transition: 0.5s;
}

#gameTitle:hover{
    font-size: 55;
    margin-top: 15px;
}

#game{
    margin: 50px;
    height: 60vh;
    overflow-y: auto;
}

#gameCont{
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#ToggleFullscreenBtn{
    position: absolute;
    left:auto;
    right:30px;
    top:auto;
    bottom: 25px;;
    width: 30px;
    height: 30px;
    object-position: 95% 95%;
    opacity: 0.4;
}

#ToggleFullscreenBtn:hover{
    opacity: 1;
    width: 32px;
    height: 32px;
}

#HomeLogo{
    position: relative;
    animation: bounce 0.85s ease infinite;
}

#playBtn{
    margin-top: 70px;
}

#BackBtn{
    position: relative;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
}

#savesMenu{
    width: 80%;
    height: 80vh;
}

#LevelsMenu{
    width: 80%;
    height: 80vh;
}

/*#region Tower positions*/

#Tower0ContLvl1{
    top: 13.4%;
    left: 13.5%;
}

#Tower1ContLvl1{
    top: 32.5%;
    left: 13.5%;
}

#Tower2ContLvl1{
    top: 7%;
    left: 39%;
}

#Tower3ContLvl1{
    top: 26.2%;
    left: 39%;
}

#Tower4ContLvl1{
    top: 26.2%;
    left: 58.1%;
}

#Tower5ContLvl1{
    top: 51.8%;
    left: 32.7%;
}

#Tower6ContLvl1{
    top: 51.8%;
    left: 51.8%;
}

#Tower7ContLvl1{
    top: 51.8%;
    left: 77.4%;
}

#Tower8ContLvl1{
    top: 71%;
    left: 39%;
}

#Tower9ContLvl1{
    top: 77.2%;
    left: 64.6%;
}

/*#endregion*/

.menu_elem{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

.button{
    margin-top: 30px;
    background-color: #415c8e;
    color: #0ebfad;
    -webkit-text-stroke: 0.3px rgb(26, 99, 159);
    font-family: distantGalaxy;
    font-weight: bold;
    width: 20%;
    height: 10%;
    border: 2px solid #344368;
    border-radius: 10px;
    font-size: 2vw;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 5px 0.5px #344368, 0 0 5px 0.5px #344368 inset;
}

.button:hover{
    background-color: #293b5c;
    color: #0c9486;
    border: 2px solid #5d76b7;
    
}

.button:active{
    background-color: #192438;
    color: #074b45;
}

.menuBG{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    margin-bottom: 0;
    background-color: #9c6940;
    border: 3px #49311e;
    box-shadow: 0 0 5px 0.5px #49311e, 0 0 5px 0.5px #654429 inset;
    overflow-y: auto;
}

.LevelNot{
    color: white;
    font-family: distantGalaxy;
    font-weight: bold;
    text-align: center;
    margin-top: 40vh;
    font-size: 60;
    opacity: 0;
    margin-bottom: 0;
}

.LevelBG{
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.TowerCont{
    position: absolute;
    width: 11.5%;
    height: 11.5%;
    text-align: center;
    z-index: 0;
}

.buildBtn{
    position: relative;
    animation: bounce 0.85s ease infinite;
    width: 50%;
    height: auto;
}

.buildBtn:hover{
    filter: brightness(50%);
    cursor: pointer;
}

.BowTow{
    position: relative;
    width: 50%;
    height: 90%;
}

.callWaveBtn{
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 5%;
    right: 3%;
}

.callWaveBtn:hover{
    filter: brightness(50%);
    cursor: pointer;
}

.callWaveBtn:active{
    filter: brightness(20%);
    bottom: 4%;
}

.BirthedGoblin{
    position: absolute;
    animation: lvl1Path 25s linear both;
    width: 100px;
    height: auto;
}

.Arrow{
    width: 20px;
    height: auto;
    position: relative;
    z-index: 2;
}

.CoinCnt{
    position: absolute;
    top: 3%;
    left: 3%;
    height: 50px;
    width: auto;
}

.CoinsTxt{
    font-family: 'pixel';
    color: black;
    font-size: 40;
    font-weight: bold;
    position: absolute;
    top: 3%;
    height: 50px;
    left: 7%;
}

.PlayHp{
    position: absolute;
    top: 3%;
    left: 16%;
    height: 50px;
    width: auto;
}

.HpTxt {
    font-family: 'pixel';
    color: black;
    font-size: 40;
    font-weight: bold;
    position: absolute;
    top: 3%;
    height: 50px;
    left: 20%;
}
.CurrentWave {
    font-family: 'pixel';
    color: black;
    font-size: 40;
    font-weight: bold;
    position: absolute;
    top: 3%;
    height: 50px;
    left: 90%;
}

.WaveCompMsg {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 30%;
    font-family: 'pixel';
    font-weight: bold;
    font-size: 100;
    color: black;
}